*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
    font-size: .8rem;
}

main{
    height: calc(100vh - 110px);
    /* background-color: aqua; */
    overflow-y: auto;
}

main section.gallery{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

article{
    width: 250px;
    height: 150px;
    position: relative;
    padding: .25rem;
}

article img.partecipant-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

article span.partecipant-name{
    /* display: inline-block; */
    position: absolute;
    left: .25rem;
    bottom: .25rem;
    background-color: rgba(0, 0, 0, .4);
    padding:0 .25rem;
}


header{
    height: 70px;
    background-color: #222222;
}

#taskbar{
    height: 40px;
    text-align: right;
    /* background-color: lime; */
}

#taskbar span{
    display: inline-block;
    margin-top: .25rem;
    margin-right: .25rem;
    border-radius: .25rem;
    background-color: #494c4c;
    padding: .25rem .5rem;
}

#taskbar i.fa-grip{
    margin-right: .25rem;
}