*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: calc(100vh - 130px);
    background-color: aqua;
    overflow-y: auto;
}

header{
    height: 90px;
    background-color: blueviolet;
}

#taskbar{
    height: 40px;
    background-color: lime;
}
